.showMap-wrapper {
  display: grid;
  grid-template-columns: 67% 30%;
  grid-template-rows: 20% 77%;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  margin: 0 auto;
  width: 700px;
  height: 500px;
  /*border: 1px solid rgba(255, 0, 0, 0.28);*/
}

.wrap {
  margin: 150px 0 0;
  padding: 0 25px;
  /*border: 1px solid rgba(128, 128, 128, 0.32);*/
}
