.currentTime {
  border: 1px solid rgb(118, 119, 156);
  border-radius: 3px;
  box-shadow: 2px 2px 6px 2px rgba(128, 128, 128, 0.32);
  padding-top: 17px;
  padding-left: 12px;
  color: rgba(61, 70, 66, 0.87);
}

.currentTime_title {
  display: block;
  margin: 0 0 12px;
  padding: 0;
  width: 195px;
  font-weight: bold;
  font-size: 17px;
}

.currentTime_date {
  padding: 0;
  margin: 0;
}